<html>
    <head>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
    </head>
    <body>
        <header>
            <h1>Loot</h1>
        </header>
        <main>
            <h2>Budgets</h2>
        </main>
    </body>
    <footer>
        
    </footer>
</html>