<%= render 'layouts/header' %>

<div class="row NewSection">
  <div class="col card">
    <div class="card-block">
      <h1>New Budget</h1>
      
      <%= render 'form' %>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>