/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    width:100%;
    position:relative;
    background-size:100%;
    background-color:green;
    background: -webkit-linear-gradient(#2ED225, green); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2ED225, green); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2ED225,green); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2ED225, green);
}
header h1{
    font-family:Comfortaa;
    margin-top:0;
    font-size:75px;
    margin-bottom:25px;
}
main{
    font-family: serif;
    border-radius: 25px;
    margin-left:1%;
    background-color:white;
    padding-bottom: 25px;
    padding-top:25px;
    max-width:1400px;
    min-height:600px;
}
footer{
    width:100%;
    height:29px;
    background-color: green;
    padding-top: 10px;
}

footer #team{
    float:right;
    margin-right:25px;
}
