@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background-color: #27ae60;
}

.btn-primary {
  color: #ecf0f1;
  background-color: #27ae60;
  border-color: #27ae60;
}

.btn-primary:hover,
.btn-primary:active{
    color: #ecf0f1;
    background-color: #2ecc71;
    border-color: #2ecc71;
}

.btn-outline-primary {
    color: #27ae60;
    background-image: none;
    background-color: transparent;
    border-color: #27ae60;
}

.btn-outline-primary:hover,
.btn-outline-primary:active{
    color: #ecf0f1;
    background-color: #2ecc71;
    border-color: #2ecc71;
}

.NewSection {
  margin-top: 1rem;
}

.expense {
  color: red;
}

@import "sessions";
@import "transactions";
@import "budgets";