<%= render 'layouts/header' %>

<div class="card NewSection">
  <div class="card-block">
    <div class="col-4">
      <h2>Edit Transaction</h2>
      
      <%= render 'form' %>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>