<div class="row NewSection">
  <div class="col-6">
    <%= link_to(image_tag("loot-logo.png",  size: "140", class: "d-block"), budgets_path) %>
  </div>
  
  <div id="UserLogout" class="col-6 align-self-end text-right text-white">
    <% if current_username %>
      Welcome, <%= current_username.username %>!
      <%= link_to "Log out", logout_path, method: "delete", class: 'text-warning small' %>
    <% end %>
  </div>
</div>