<div class="row justify-content-center NewSection">
  <div class="col text-center text-white small">
    &copy; Loot 2017 | Scott Huff, Cory Johnson, Son Huynh &amp; Chris Stump</span>
  </div>
</div>